body {
    font-family: Cal Sans;
    background-color: #FBE2A9; 
    margin: 0;
    padding: 20px;
    background-image: url(img/fundo.pizza.png);
}

.container {
    background-color: #FFF;
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

h1 {
    background-color: #C64304; 
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: Poetsen One;
}

h3 {
    font-weight: lighter;
}
label {
    display: block;
    margin: 10px 0;
    color: #B26F18;
}

input, select {
    padding: 8px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #F16B05;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-weight: lighter;
    font-size: 17px;
    font-family: Cal Sans;
}

button:hover {
    background-color: #B26F18;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    background-color: #F5BE71; 
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.remover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 50px;
}
